/*
* AlmaLinux 9 Proxmox Template - Variable Values
* ===========================================
*
* This file contains sensitive variable values for the Packer template.
*/

//----------------------------------------------------------------------
// Proxmox Connection Settings - API Token
//----------------------------------------------------------------------
proxmox_api_token_secret = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx"


//----------------------------------------------------------------------
// VM General Configuration - Root Password
//----------------------------------------------------------------------
vm_root_pw = "PASSWORD-HERE"